extends layout

block content
  h1= title
  p EOS uses several API's to achieve its purpose.
  h3 Twitter API 
  p
    | Data from the EONET API is tracked internally, and new events are posted to the 
    a(href='https://twitter.com/kalefice' target='_blank') developer's
    |  Twitter account. No user data is sent via the Twitter API.
