extends layout 

block content
    body.page-item.color-normal.layout-flip
        #wrapper
            article#details
        div
            .inner
                header
                    h1 Earth Observation System
                    p
                        | A system for alerting users to local and regional disasters using the 
                        a(href='https://eonet.sci.gsfc.nasa.gov/docs/v3' target='_blank') NASA EONET
                        |  API.
                section
                    table
                        tbody
                            tr
                                th Title
                                th Events
                            tr
                                td #{data}
                                td #{data}
                  

