extends layout

block content
    h1= title
    div.container
        p
            a(href="http://localhost:3000/events/list")  List
            |
        p
            a(href="http://localhost:3000/events/check")  Check
            |
            
