extends layout

block content
    h1= title
    div.container
    each link in links
        p
            a(href=link.url) #{link.text}
            |   
        
    else
        p This page has no url links.
        
        
            
