extends layout 

block content
  div
    h4 Events
    #container
    each event in events.events
        p ID    | #{event.id}
        p Title | #{event.title}
        p Link  | 
          a(href=event.link) #{event.link}
        hr
          |

    else
      p This API has no events.
