extends layout

block content
  h1= title
  p
    | A system for alerting users to local and regional disasters using the 
    a(href='https://eonet.sci.gsfc.nasa.gov/docs/v3' target='_blank') NASA EONET
    |  API.
