doctype html
html(lang="en")
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.container
      p
        a(href="http://localhost:9000/")  Home 
        | |
        a(href="http://localhost:9000/events")  Events
        | |
        a(href="http://localhost:9000/users")  Users 
        | |
        a(href="http://localhost:9000/about")  About
        | 
    block content
