doctype html
html(lang="en")
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.container
      p
        a(href="http://localhost:3000/")  Home 
        | |
        a(href="http://localhost:3000/events")  Events
        | |
        a(href="http://localhost:3000/users")  Users 
        | |
        a(href="http://localhost:3000/about")  About
        | 
    block content
